<h3> Upload City </h3>
<span id='city'> <%= render 'flash' %>  </span>
  
<div id="upload_city">
  <%= form_tag(import_city_sheets_path, method: :post, multipart: true, 
    remote: true, authenticity_token: true) do %>
    <%= file_field_tag :file, class: 'file-field' %>
    <%= submit_tag "Import City List", class: 'success-button', remote: true %>
  <% end %>
</div>
