<h3> Upload Services </h3>
<span id='service'> <%= render 'flash' %> </span>

<div id="upload_service">
  <%= form_tag(import_service_sheets_path, method: :post, multipart: true, 
    remote: true, authenticity_token: true) do %>
    <%= file_field_tag :file, class: 'file-field' %>
    <%= submit_tag "Import Service List", class: 'success-button', remote: true  %>
  <% end %>
</div>
