<% if @file %>
  <% if @status %>  
    $("#service h5").text("successfully uploaded Service List.");
    $('#service h5').removeClass().addClass('success');
  
  <% else %> 
    $("#service h5").text("Sorry, Service list is already uploaded.");
    $('#service h5').removeClass().addClass('error');
  <% end %> 

<% else %>
  $("#service h5").text("Sorry, No file found. ");
  $('#service h5').removeClass().addClass('error'); 
<% end %> 


App.unBlockUI($('#upload_service'));