<% if @file %>
  <% if @status %>  
    $("#city h5").text("successfully uploaded city & lawyer info.");
    $('#city h5').removeClass().addClass('success');
  
  <% else %> 
    $("#city h5").text("Sorry, city & lawyer list is already uploaded.");
    $('#city h5').removeClass().addClass('error');
  <% end %> 

<% else %>

  $("#city h5").text("Sorry, No file found. ");
  $('#city h5').removeClass().addClass('error'); 
<% end %> 



App.unBlockUI($('#upload_city'));