<%= link_to 'Clear Data', clear_sheets_path, method: :post, 
  data: {confirm: "Are you sure to clear all data ? "} %> 

<div id="success"> <%= flash[:success] %>  </div>
<div id="error"> <%= flash[:error] %>  </div>


<div id="upload_page">

   <%= render 'city_upload' %>

   <%= render 'service_upload' %> 
   

</div>


<div id="query_db">
  <%= link_to 'Query Access', queries_path, class: 'success-button', id: 'query_button' %> 
</div>
