
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>service name</th>
        <th>lawyer code</th>
        <th>lawyer name </th>
        <th>location</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @eligible_lawyers.each do |result| %>
        <tr>
          <td><%= result.SERVICE_NAME %></td>
          <td><%= result.LAW_CODE %></td>
          <td><%= result.LAWYER_NAME %></td>
          <td><%= result.LOCATION_NAME  %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
