<% if @eligible_lawyers.present? %> 
  $("#filtered_result").html("<%= escape_javascript( render(partial: "filtered_result")) %>");
<% else %> 
  $('#filtered_result').html("No eligible Lawyers found.");
<% end %> 
