<%= link_to 'Home', root_path %> 
 

<%= form_tag(fetch_lawyers_queries_path, method: :post, remote: true, 
  id: 'search_form', authenticity_token: true) do %>

  <div class = "form-element">
    <%= label_tag :location, "Select a location: " %> 
  <%= select_tag :location_id, options_from_collection_for_select(@location_list, :id, :name) %>
  
  </div>

  <div class="form-element">
    <%= label_tag :service, 'Select a Service :' %> 
  <%= select_tag :service_id, options_from_collection_for_select(@service_list, :id, :name)  %>

  </div>

  <div class="form-element submit-div">
    <%= submit_tag "Query", class: 'success-button', remote: true %>
  </div>  

<% end %>
  

  <div id="filtered_result">
    <% if @eligible_lawyers.present? %> 
    <%= render 'filtered_result' %> 
    <% end %> 
 </div> 