/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.success-button{
  background-color: #5bb75b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  padding: 4px 20px;
  border-radius: 4px;
  font-weight: bold;
}


#upload_page {
  padding: 5% 32%; 
}

#upload_page div {
  margin: 5% 10%;
  padding: 2% 20%;
  background-color: rgb(178, 199, 224);
  border-radius: 3px;
}

#upload_page  h3{
  text-align: center;
}


#upload_page h5{
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.success {
  color: green;
}

.error{
  color: red; 
}


body{
  background-color: rgba(245, 245, 245, 0.74);
}


#query_db{
  text-align: center;
}

#query_button {
  border-radius: 2px;
  font-size: 1.6em;
  text-decoration: none;
}

#query_button:hover{
  text-decoration: none;
  background-color: #387938;
}


#search_form {
  padding: 5% 35%;
}

.submit-div{
  text-align: center;
  padding: 2% 2%;
}

table{
  border: 2px solid blue;
}

/*tbody{
  background-color: 
}
*/
table tbody tr td {
  border: 1px solid red;
}

#success {
  font-weight: bold;
  color: green;
  font-size: 1.3em;
}

#error {
  font-weight: bold;
  color: red;
  font-size: 1.3em;
}

#filtered_result{
  text-align: center;
  padding: 5% 30%;
  font-weight: bold;
}